.divInstrucciones {
	display: flex;
	flex-direction: column;
	flex: auto;
	max-width: 1000px;
	width: 100%;
	margin: auto;
	border-radius: 0.5rem;
	overflow: hidden;
}
.h2Instrucciones {
	margin: 1rem auto;
}
.ulIns {
	overflow: auto;
	max-height: 600px;
	max-width: 900px;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 4rem;
	padding: 3rem 0;
}

.liintruccion {
	border-radius: 0.5rem;
	padding: 0.5rem;
	position: relative;
	border: 1px solid black;
	width: 100%;
	transition: all 0.3s ease-in-out;
	line-height: 2rem;
	background-color: #dbdbdb;
	color: rgb(44, 44, 44);
	font-size: 18px;
	font-weight: bold;
	text-align: justify;
	box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.452);
}
.liintruccionAnimado {
	animation: recetaAnimate2 2s ease-in-out;
}

.spanNumero {
	position: absolute;
	top: -2.5rem;
	left: 50%;
	width: 5rem;
	transform: translate(-50%);
	background-color: #dbdbdb;
	color: rgb(44, 44, 44);
	border-radius: 0.5rem;
	border-bottom: 1px solid black;
	padding: 0.5rem;
	text-align: center;
}
.btnVolver {
	width: 90%;
	padding: 1rem;
	border-radius: 0.5rem;
	margin: 1rem auto;
	color: rgb(70, 70, 70);
	background-color: var(--colorResaltado1);
	font-size: 16px;
	transition: all 0.3s ease-in-out;
	font-weight: bold;
}
.btnVolver:hover {
	color: #d3d3d3;
	background-color: #464545;
}
.btnVolver:active {
	transform: scale(0.98);
}

.btnVolverico {
	color: black;
	width: 2rem;
	height: 2rem;
}

@keyframes recetaAnimate2 {
	from {
		clip-path: circle(0% at left);
	}
	to {
		clip-path: circle(1000% at left);
	}
}
