.divInstrucciones {
	display: flex;
	flex-direction: column;
	flex: auto;
	max-width: 1000px;
	width: 100%;
	margin: auto;
	border-radius: 0.5rem;
}
.h2Instrucciones {
	margin: 1rem 0;
}
.ulIns {
	overflow: auto;
	max-height: 600px;
	max-width: 900px;
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: 4rem;
	padding-top: 3rem;
}

.liintruccion {
	background-color: #dbdbdb;
	color: rgb(44, 44, 44);
	border-radius: 0.5rem;
	padding: 0.5rem;
	text-align: justify;
	text-shadow: none;
	font-size: 16px;
	position: relative;
	border: 1px solid black;
	box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.452);
}

.spanNumero {
	position: absolute;
	top: -2rem;
	left: 50%;
	width: 5rem;
	transform: translate(-50%);
	background-color: #dbdbdb;
	color: rgb(44, 44, 44);
	border-radius: 0.5rem 0.5rem 0 0;
	padding: 0.5rem;
	text-align: center;
}
.btnVolver {
	width: 90%;
	padding: 0.5rem;
	border-radius: 0.5rem;
	margin: auto;
	color: black;
}
.btnVolverico {
	color: black;
	width: 2rem;
	height: 2rem;
}
