.divInstrucciones {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--colortexto);
	padding: 0.5rem;
	background-color: #e8c2b3;
}
.h2Instrucciones {
	margin: 1rem auto;
	text-decoration: underline;
}
.ulIns {
	overflow: auto;
	max-height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 4rem;
	padding: 3rem 0.5rem;
}

.liintruccion {
	border-radius: 0.5rem;
	padding: 0.5rem;
	position: relative;
	border: 1px solid black;
	transition: all 0.3s ease-in-out;
	line-height: 2rem;
	background-color: snow;
	color: rgb(44, 44, 44);
	font-size: 18px;
	font-weight: bold;
	text-align: justify;
	box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.452);

	view-timeline-name: --revealing-card;
	view-timeline-axis: block;
	animation-name: show;
	animation-timing-function: ease;
	animation-fill-mode: both;
	animation-timeline: --revealing-card;
	animation-range: entry 20% cover 25%;
}

.spanNumero {
	position: absolute;
	top: -2.5rem;
	left: 50%;
	width: fit-content;
	max-height: 50px;
	transform: translate(-50%);
	background-color: snow;
	overflow: hidden;
	color: rgb(44, 44, 44);
	border-radius: 0.5rem;
	border-bottom: 1px solid black;
	padding: 0.5rem;
	text-align: center;
}
.btnVolver {
	width: 90%;
	padding: 1rem;
	border-radius: 0.5rem;
	margin: 1rem auto;
	color: rgb(70, 70, 70);
	background-color: var(--colorResaltado1);
	font-size: 16px;
	transition: all 0.3s ease-in-out;
	font-weight: bold;
}
.btnVolver:hover {
	color: #d3d3d3;
	background-color: #464545;
}
.btnVolver:active {
	transform: scale(0.98);
}

.btnVolverico {
	color: black;
	width: 2rem;
	height: 2rem;
}

@keyframes show {
	from {
		opacity: 0;
		transform: scale(0.25) translateX(500px);
	}
	to {
		opacity: 1;
		transform: scale(1) translateX(0);
	}
}
