.recetasContainer {
	scroll-snap-align: start;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100vw;
	background-attachment: fixed;
	position: relative;
	transition: all 0.3s ease-in-out;
	animation: recetaAnimate 2s ease-in-out;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sliderDiv {
	flex: auto;
	scroll-snap-align: center;
	scroll-behavior: smooth;
	overflow-x: hidden;
	min-width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	color: var(--colortexto);
	background-color: var(--fondo);
}

.btnCerrar {
	position: absolute;
	top: 3rem;
	right: 3rem;
	width: 2rem;
	height: 2rem;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
}
.btnCerrarIco {
	width: 2rem;
	height: 2rem;
}
.abajoIco {
	flex: auto;
	width: 3rem;
	height: 3rem;
	animation: btnAbajoAnimate 1s infinite ease-in-out alternate;
}

@keyframes recetaAnimate {
	from {
		clip-path: circle(0% at center);
	}
	to {
		clip-path: circle(1000% at center);
	}
}
@keyframes btnAbajoAnimate {
	from {
		transform: translateY(-20px);
	}
	to {
		transform: translateY(0px);
		color: rgb(0, 0, 0);
	}
}
