.recetasContainer {
	scroll-snap-align: start;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
	display: flex;
	flex-direction: column;
	max-height: 100vh;
	width: 100vw;
	background-attachment: fixed;
	position: relative;
	transition: all 0.3s ease-in-out;
	animation: recetaAnimate 2s ease-in-out;
	font-family: sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana;
	z-index: 3;
}
.recetasContainerCerrar {
	animation: recetaAnimate2 1s ease-in-out;
}
.sliderDiv {
	flex: auto;
	scroll-snap-align: start;
	scroll-behavior: smooth;
	overflow-x: hidden;
	min-width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	color: var(--colortexto);
	background-color: var(--fondo);
}

.btnCerrar {
	position: absolute;
	top: 3rem;
	right: 3rem;
	width: 2rem;
	height: 2rem;
	border-radius: 100%;
	z-index: 3;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
}

.btnCerrarIco,
.btnGuardarIco {
	width: 2rem;
	height: 2rem;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}
.btnCerrarIco:hover {
	transform: scale(1.2);
}
.btnGuardarIco:hover {
	transform: scale(1.2);
}
.btnGuardarIco path {
	cursor: pointer;
}
.btnGuardar {
	position: absolute;
	top: 3rem;
	left: 3rem;
	width: 2rem;
	height: 2rem;
	border-radius: 100%;
	z-index: 3;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
}

.abajoIco {
	flex: auto;
	width: 3rem;
	height: 3rem;
	animation: btnAbajoAnimate 1s infinite ease-in-out alternate;
}

@keyframes recetaAnimate {
	from {
		clip-path: circle(0% at center);
	}
	to {
		clip-path: circle(1000% at center);
	}
}
@keyframes recetaAnimate2 {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(100%);
		opacity: 0;
	}
}
@keyframes btnAbajoAnimate {
	from {
		transform: translateY(-20px);
	}
	to {
		transform: translateY(0px);
		color: rgb(0, 0, 0);
	}
}
