.titulos {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	max-width: 1000px;
	margin: auto;
	flex-grow: 0.5;
	cursor: default;
	line-height: 2rem;
}

.opciones {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	flex-grow: 1;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	border-radius: 0.8rem;
	transition: all 0.3s ease;
	animation: fadeIn 1s ease;
}
.buscadoH1 {
	position: sticky;
	text-align: center;
	top: 3rem;
	right: 1rem;
	z-index: 3;
	background-color: rgba(0, 0, 0, 0.418);
	align-self: flex-end;
	padding: 0.5rem;
	border-radius: 0.3rem;
	color: #eee;
}
.divnumeroRecetaPais {
	position: relative;
	display: flex;
	flex-direction: column;
}
.numeroRecetaPais {
	position: absolute;
	top: 5rem;
	left: 50%;
	transform: translate(-50%);
	color: #eee;
}
