.divPlatoPais {
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)),
		url('https://www.themealdb.com/images/media/meals/qrqywr1503066605.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #eee;
	min-height: 100vh;
	position: relative;
}

.titulos {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	max-width: 1000px;
	cursor: default;
	line-height: 2rem;
	color: #eee;
	font-family: Cascadia Code, sans-serif;
	padding-top: 2rem;
	text-align: center;
}

.opciones {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 1000px;
	border-radius: 0.8rem;
	transition: all 0.3s ease;
	animation: fadeIn 1s ease;
}
.buscadoH1 {
	position: absolute;
	top: 110vh;
	right: 1rem;
	z-index: 4;
	align-self: flex-end;
	color: var(--colortexto);
}
.H1Nada {
	padding: 0.5rem;
	border-radius: 0.3rem;
	color: white;
	width: 100%;
	text-align: center;
}
.divnumeroRecetaPais {
	position: relative;
	display: flex;
	flex-direction: column;
}
.numeroRecetaPais {
	position: absolute;
	top: 5rem;
	left: 50%;
	transform: translate(-50%);
	color: var(--colortexto);
	z-index: 3;
}

@keyframes fadeIn {
	from {
		opacity: 0.5;
		transform: translateY(-50px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}
