.divPlatoPais {
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)),
		url('https://www.themealdb.com/images/media/meals/qrqywr1503066605.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	min-height: calc(100vh - 52px);
	color: #eee;
}

.titulos {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	max-width: 1000px;
	cursor: default;
	line-height: 2rem;
	color: rgb(251, 251, 252);
	text-align: center;
	margin: 2rem auto;
}

.opciones {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	flex-grow: 1;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	border-radius: 0.8rem;
	transition: all 0.3s ease;
	animation: fadeIn 1s ease;
}
.buscadoH1 {
	position: sticky;
	text-align: center;
	top: 3rem;
	right: 1rem;
	z-index: 3;
	background-color: rgba(0, 0, 0, 0.418);
	align-self: flex-end;
	padding: 0.5rem;
	border-radius: 0.3rem;
	color: #eee;
}
.divnumeroRecetaPais {
	position: relative;
	display: flex;
	flex-direction: column;
}
.numeroRecetaPais {
	position: absolute;
	top: 5rem;
	left: 50%;
	transform: translate(-50%);
	color: #eee;
}
