.Ingredientes {
	display: flex;
	flex-direction: column;
	flex: auto;
	width: 100%;
	max-width: 1000px;
	margin: auto;
	border-radius: 0.5rem;
	padding: 1rem 0;
}

.titulo {
	margin: 1rem 0;
}
Ul {
	overflow: auto;
	flex: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 2rem 0;
	gap: 1rem;
}
.Li {
	flex: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid #eeeeee81;
	width: 80%;
	font-size: 18px;
}

.btnVerIngredientes {
	width: 90%;
	padding: 1rem;
	border-radius: 0.5rem;
	margin: 1rem auto;
	color: black;
	font-size: 16px;
	transition: all 0.3s ease-in-out;
}

.btnVerIngredientes:hover {
	color: #d3d3d3;
	background-color: #464545;
}
.btnVerIngredientes:active {
	transform: scale(0.98);
}
