.Ingredientes {
	display: flex;
	flex-direction: column;
	flex: auto;
	width: 100%;
	padding: 1rem 0;
	background-color: #f2d3bb;
}

.titulo {
	text-decoration: underline;
	margin: 1rem auto;
	color: var(--colortexto);
}
.Ul {
	overflow: auto;
	flex: auto;
	display: flex;
	max-width: 1000px;
	width: 100%;
	margin: 2rem auto;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
	padding: 1rem 0.5rem;
	overflow: auto;
}

.Li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: end;
	background-color: rgb(255, 250, 250);
	color: rgb(44, 44, 44);
	border-radius: 0.5rem;
	padding: 0.5rem 1rem;
	width: 100%;
	max-width: 600px;
	font-size: 18px;
	font-weight: bolder;
	transition: all 0.3s ease-in-out;
}

.LiSpan {
	color: rgb(139, 139, 139);
	flex: auto;
	text-align: start;
}
.btnVerIngredientes {
	width: 90%;
	padding: 1rem;
	border-radius: 0.5rem;
	margin: 1rem auto;
	color: rgb(70, 70, 70);
	background-color: var(--colorResaltado1);
	box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.452);
	font-size: 16px;
	transition: all 0.3s ease-in-out;
}

.btnVerIngredientes:hover {
	color: #d3d3d3;
	background-color: #464545;
}
.btnVerIngredientes:active {
	transform: scale(0.98);
}
