.UlRegion {
	height: 100px;
	width: 90%;
	max-width: 500px;
	margin: 1rem auto;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	overflow: auto;
	background-color: var(--fondo);
	border-radius: 0.5rem;
}
.LiRegion {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	border-radius: 0.3rem;
	transition: all 0.3s ease-in-out;
	transform: scale(0.8);
	background-image: url('../../assets/backgroundIngrediente.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	box-shadow: 0px 0px 10px 1px black;
}
.LiRegion span {
	color: var(--colortexto);
	width: 100px;
	text-align: center;
	font-weight: bold;
	margin: 0.5rem;
}
.LiRegion:hover {
	transform: scale(0.79);
	background-image: none;
	box-shadow: none;
}
.ImgRegion {
	width: 48px;
	height: 48px;
	border-radius: 100%;
	object-fit: cover;
	cursor: pointer;
}
