.Ul {
	height: 80px;
	width: 90%;
	max-width: 1000px;
	margin: auto;
	overflow: auto;
	display: flex;
}
.Li {
	display: flex;
	flex-grow: 1;
	border-radius: 100%;
	background-color: aliceblue;
	transition: all 0.3s ease-in-out;
	transform: scale(0.6);
}
.Li:hover {
	transform: scale(0.7);
	box-shadow: 0px 0px 10px 4px black;
}
.Img {
	border-radius: 100%;
	object-fit: cover;
	cursor: pointer;
}
