.divPlatoPais {
	min-height: 100vh;
	padding-bottom: 5rem;
}
.divPlatoPais h1,
h2 {
	margin: 3rem 0;
	padding: 0 1rem;
	cursor: default;
	text-shadow: 0px 0px 10px black, 0px 0px 10px black, 0px 0px 10px black;
}
.divPlatoPais .regiones {
	display: flex;
	width: 90%;
	height: 60px;
	overflow-x: scroll;
	scroll-behavior: smooth;

	background-image: url('../assets//backgrondChiico.png');
	background-position: center;
	box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.856);
	border-radius: 3rem;
	margin: 1rem auto;
	padding: 1rem;
	max-width: 600px;
	transition: all 0.3s ease;
	animation: fadeIn 1s ease;
}

.divPlatoPais .regiones .regionesUl {
	display: flex;
	flex-wrap: nowrap;
	gap: 0.5rem;
}
.divPlatoPais .regiones .regionesUl .regionesUlLi {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	width: 2rem;
}
.divPlatoPais .regiones .regionesUl .regionesUlLi .regionesUlLiImg {
	object-fit: contain;
	width: 2rem;
	border-radius: 100%;
	transition: all 0.5s ease;
}
.divPlatoPais .regiones .regionesUl .regionesUlLi:hover .regionesUlLiImg {
	opacity: 0;
	transform: scale(0);
}
