.divPlatoPais {
	background-image: url('../assets/backgroundPortrail3.svg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.titulos {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	max-width: 1000px;
	margin: auto;
	flex-grow: 0.5;
	cursor: default;
	text-shadow: 0px 0px 10px black, 0px 0px 10px black, 0px 0px 10px black;
	line-height: 2rem;
}

.opciones {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	flex-grow: 1;
	width: 90%;
	max-width: 1000px;
	margin: auto;
	border-radius: 0.8rem;
	transition: all 0.3s ease;
	animation: fadeIn 1s ease;
}
