.divContainerH2 {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	position: absolute;
	width: 100vw;
	top: 0;
	left: 0%;
}
.hidden {
	position: absolute;
	bottom: 0;
	opacity: 0;
	width: 100%;
	height: 2rem;
}
.divContainerH2 .NombreH2 {
	position: fixed;
	top: 0px;
	opacity: 1;
	margin: 0 auto;
	transition: all 0.3s ease;
	animation: fadeIn 2s ease;
	background-color: #0000004d;
	width: 100%;
	z-index: 2;
}
.divPlatoPais {
	min-height: 100vh;
	padding-bottom: 5rem;
}
.divPlatoPais h1,
h2 {
	margin: 3rem 0;
	padding: 0 1rem;
	cursor: default;
	text-shadow: 0px 0px 10px black, 0px 0px 10px black, 0px 0px 10px black;
}
.divPlatoPais .divInputSearch {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.divPlatoPais .divInputSearch .divMsjError {
	background-color: rgba(255, 0, 0, 0.425);
	animation: fadeIn 1s ease;
	border-radius: 0.5rem;
}
.divPlatoPais .divInputSearch .divMsjError img {
	width: 2rem;
	height: 2rem;
}

.divPlatoPais .divSugerencias {
	display: flex;
	justify-content: space-evenly;
	margin: 1rem auto;
	padding: 1rem 0;
	box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.719);
	background-color: rgba(0, 0, 0, 0.137);
	border-radius: 3rem;
	max-width: 600px;
	width: 90%;
	transition: all 0.3s ease;
	animation: fadeIn 1s ease;
}

.divPlatoPais .divSugerencias .regiones {
	border-radius: 5rem;
}
.divPlatoPais .divSugerencias .regiones li:hover {
	background-color: #9191916c;
	text-shadow: 0px 0px 10px rgb(255, 255, 255), 0px 0px 10px rgb(255, 255, 255),
		0px 0px 10px rgb(255, 255, 255);
}
.divPlatoPais .divSugerencias .regiones ul {
	border-radius: 5rem;
}

.divPlatoPais .divSugerencias .regiones ul li {
	display: flex;
	justify-content: center;
	padding: 0.5rem;
	background-color: #ffffff;
	border-radius: 100%;
	margin-bottom: 0.5rem;
	cursor: pointer;
	width: fit-content;
	position: relative;
	transition: all 0.2s ease;
	text-shadow: 0px 0px 10px black, 0px 0px 10px black;
}
.divPlatoPais .divSugerencias .regiones ul li img {
	width: 2rem;
	border-radius: 5rem;
	transition: all 0.5s ease;
	object-fit: cover;
}
.divPlatoPais .divSugerencias .regiones ul li:hover img {
	transform: rotate(180deg);
}
