.divPLatoLetra {
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)),
		url('	https://www.themealdb.com/images/media/meals/7mxnzz1593350801.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #eee;
	position: relative;
}
.tituloPLatoLetra {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	line-height: 2.5rem;
	animation: fadeIn 1s ease;
	transition: all 0.3s ease;
	font-family: Cascadia Code, sans-serif;
	flex: auto;
}
.BuscadorDePalabrasPLatoLetra {
	flex: auto;
	display: flex;
	justify-content: space-evenly;
	animation: fadeIn 1s ease-in-out;
	transition: all 0.3s ease-in-out;
	align-items: center;
	width: 100%;
}

.buscadoH1Letra,
.H1NadaLetra {
	position: absolute;
	top: 110vh;
	right: 1rem;
	z-index: 3;
	align-self: flex-end;
	color: var(--colortexto);
}
.H1NadaLetra {
	color: #eee;
	width: 100%;
	right: 0rem;
	text-align: center;
}
@keyframes fadeIn {
	from {
		opacity: 0.5;
		transform: translateY(-50px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}
