.divPLatoLetra {
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)),
		url('	https://www.themealdb.com/images/media/meals/7mxnzz1593350801.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #eee;
}
.tituloPLatoLetra {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	line-height: 2.5rem;
	font-family: Cascadia Code, sans-serif;
	flex: auto;
}
.BuscadorDePalabrasPLatoLetra {
	flex: auto;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	height: 50vh;
}

.buscadoH1Letra {
	position: sticky;
	text-align: center;
	top: 3rem;
	right: 1rem;
	z-index: 3;
	align-self: flex-end;
	padding: 0.5rem;
	border-radius: 0.3rem;
	color: var(--colortexto);
}
.H1NadaLetra {
	padding: 0.5rem;
	border-radius: 0.3rem;
	color: white;
}
