.recetasContainer {
	display: flex;
	flex-direction: column;
	width: 90%;
	max-width: 400px;
	margin: 1rem auto;
	border: 1px solid #919191;
	border-radius: 0.5rem;
	background-color: #0000009a;
	overflow: hidden;
	position: relative;
	backdrop-filter: blur(5px);
	transition: all 0.5s ease;
	animation: fadeInLeft 1s ease;
}
.recetasContainer h1 {
	padding: 0 1rem;
	cursor: default;
}
.recetasContainer .divNombreFoto {
	width: 100%;
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #919191;
	position: relative;
	transition: all 0.5s ease;
	animation: fadeIn 1s ease;
}
.recetasContainer .frente {
	transition: all 0.5s ease;
	animation: fadeIn 1s ease;
	color: black;
}
.recetasContainer .divNombreFoto img {
	object-fit: cover;
}
.recetasContainer .divNombreFoto h2 {
	cursor: default;
	position: absolute;
	color: white;
	bottom: 1rem;
	width: 100%;
	text-shadow: 0px 0px 10px black, 0px 0px 10px black, 0px 0px 10px black;
}
.recetasContainer .divNombreFoto small {
	cursor: default;
	position: absolute;
	color: white;
	top: 1rem;
	width: 100%;
	text-shadow: 0px 0px 10px black, 0px 0px 10px black, 0px 0px 10px black;
}
.recetasContainer .frente .divCategoriasInfo {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	height: auto;
	padding: 0.5rem 0;
	color: var(--fontColor2);
}
.recetasContainer .frente .divCategoriasInfo div {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	word-break: keep-all;
	cursor: default;
}

.recetasContainer .frente .divCategoriasInfo div svg {
	width: 100%;
	height: 2.5rem;
}
.recetasContainer .frente .divEnlaces {
	display: flex;
	justify-content: space-evenly;
	padding: 0.5rem 0;
}
.recetasContainer .frente .divEnlaces svg {
	width: 100%;
	height: 2.5rem;
}
.recetasContainer .frente .divEnlaces a {
	transition: 0.5s ease all;
	color: var(--fontColor2);
}
.recetasContainer .frente .divEnlaces a:hover {
	transform: scale(1.1);
}
.recetasContainer .frente .divIngredientes {
	display: flex;
	flex-direction: column;
	border-top: 1px solid #919191;
	padding: 0.5rem;
	color: var(--fontColor2);
}
.recetasContainer .frente .divIngredientes ul {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0.5rem;
}
.recetasContainer .frente .divIngredientes ul li {
	text-align: center;
	width: 90%;
	margin: auto;
	padding: 0.5rem 0;
	border-bottom: 1px solid #919191;
	cursor: default;
}
.recetasContainer .divInstrucciones {
	display: flex;
	flex-direction: column;
	transition: all 0.5s ease;
	animation: fadeIn 1s ease;
}
.recetasContainer .divInstrucciones h3 {
	width: 100%;
	margin: 1rem 0;
}
.recetasContainer .divInstrucciones .ulInstructions {
	padding: 0.5rem;
}
.recetasContainer .divInstrucciones .ulInstructions li {
	color: #202020;
	position: relative;
	display: flex;
	flex-direction: column;
	opacity: 0;
}
.recetasContainer .divInstrucciones .ulInstructions .liAnimacion {
	transition: all 0.3s ease;
	animation: fadeInLeft 2s;
	opacity: 1;
}
.recetasContainer .divInstrucciones .ulInstructions li span {
	background-color: #eeeeee;
	padding: 0.5rem;
	font-weight: bold;
	line-height: 25px;
	border-bottom: 1px solid #000000;
	text-transform: capitalize;
	color: #202020;
	text-align: justify;
	border-radius: 0.5rem;
	position: relative;
}
.recetasContainer .divInstrucciones .ulInstructions li .spanInstructionsNumero {
	width: 50%;
	margin: auto;
	border-radius: 0.5rem 0.5rem 0 0;
	margin-top: 2rem;
	margin-bottom: -10px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #643843;
	color: var(--fontColor2);
}

.recetasContainer .btnCerrarReceta {
	position: absolute;
	top: 2rem;
	left: 1rem;
	width: 2rem;
	height: 2rem;
	border: none;
	outline: none;
	background-color: var(--bgColor2);
	box-shadow: 0px 0px 5px black;
	border-radius: 100%;
	transition: all 0.2s ease;
}
.recetasContainer .btnCerrarReceta:hover {
	transform: scale(1.1);
	background-color: var(--bgColor1);
}
.recetasContainer .btnCerrarReceta svg {
	width: 100%;
	height: 100%;
	transform: scale(0.9);
}
.recetasContainer .btnVerIngredientes {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 90%;
	height: auto;
	margin: 1rem auto;
	cursor: pointer;
	background-color: var(--bgColor1);
	color: var(--fontColor2);
	border-radius: 0.5rem;
	border: none;
	outline-offset: -25px;
	transition: all 0.5s ease;
}
.recetasContainer .btnVerIngredientes strong {
	margin-top: 0.5rem;
	font-size: 16px;
}
.recetasContainer .btnVerIngredientes svg {
	width: 2rem;
	height: auto;
	transition: all 0.5s ease;
}
.recetasContainer .btnVerIngredientes:hover svg {
	transform: scale(1.1);
	color: white;
}
.recetasContainer .btnVerIngredientes:hover {
	outline: 1px solid #919191;
	outline-style: dashed;
	outline-offset: 5px;
	color: var(--fontColor1);
}

@keyframes fadeIn {
	from {
		opacity: 0.3;
		transform: translateY(-20px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}
@keyframes fadeInLeft {
	from {
		opacity: 0.3;
		transform: translateX(-500px) scale(0.2);
	}
	to {
		opacity: 1;
		transform: translateX(0px) scale(1);
	}
}
