.divFoto {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: auto;
	border-radius: 0.5rem;
}
.divImgReceta {
	flex: auto;
}
.imgReceta {
	object-fit: cover;
	border-radius: 0.5rem;
	width: 360px;
	height: 360px;
}
.SmallFoto {
	font-size: 16px;
	flex: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 50%;
}
.H2Foto {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	letter-spacing: 3px;
}
