.divFoto {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: auto;
	margin: 0 0.5rem;
}
.divImgReceta {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: snow;
	padding: 1rem;
	min-height: 410px;
	max-width: 410px;
	box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.452);
}
.imgReceta {
	object-fit: cover;
	border-radius: 0.2rem;
	width: 100%;
	height: auto;
	max-width: 400px;
	max-height: 400px;
	aspect-ratio: 1/1;
}
.divH2Foto {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
}
.SmallFoto {
	font-size: 16px;
	font-weight: 600;
}
.H2Foto {
	letter-spacing: 3px;
	width: 100%;
	text-align: center;
}
