.divUl {
	display: flex;
	flex: auto;
	width: 100%;
	background-image: url('../../../assets/backgrondReceta.svg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	background-attachment: fixed;
	max-width: 1000px;
	margin: auto;
	border-radius: 0.5rem;
}
.ulInfo {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: space-evenly;
	align-items: center;
}
.liInfo {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 80%;
	border-bottom: 1px solid #eee;
}
.liSmall {
	width: 100%;
	font-size: 18px;
}
.liIcono {
	width: 2rem;
	height: 2rem;
}
.liInfo:last-child {
	border-bottom: none;
}
.enlaces {
	width: 50%;
	color: #e6dcdc;
	border: 1px solid white;
	border-radius: 0.5rem;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}
.enlaceIcono {
	width: 4rem;
	height: 4rem;
}
.enlaces:hover {
	color: #444444;
	background-color: #e6dcdc;
	border: 1px solid rgb(85, 85, 85);
}
.enlaces:active {
	transform: scale(0.9);
}
