.divUl {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: auto;
	width: 100%;
	max-width: 1000px;
	margin: auto;
	border-radius: 0.5rem;
}

.divUl h2 {
	width: 100%;
	text-align: center;
	color: var(--colortexto);
	margin: 1rem auto;
}
.ulInfo {
	overflow: auto;
	flex: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	gap: 1rem;
}
.liInfo {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: snow;
	color: rgb(44, 44, 44);
	border-radius: 0.5rem;
	padding: 0.5rem;
	width: 80%;
	box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.452);
}
.liSmall {
	width: 100%;
	font-size: 18px;
	font-weight: bolder;
	text-align: center;
}
.liIcono {
	width: 2rem;
	height: 2rem;
}
.liInfo:last-child {
	background-color: transparent;
	box-shadow: none;
}
.enlaces {
	width: 50%;
	margin: 0 0.5rem;
	border: 1px solid white;
	border-radius: 0.5rem;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
	color: rgb(70, 70, 70);
	background-color: var(--colorResaltado1);
	box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.452);
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.enlaceIcono {
	width: 4rem;
	height: 4rem;
}
.enlaces:hover {
	color: #d3d3d3;
	background-color: #464545;
	border: 1px solid rgb(85, 85, 85);
}
.enlaces:active {
	transform: scale(0.9);
}
