.Li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	transition: all 0.5s ease-in-out;
	background-image: url('../../assets/backgroundIngrediente.svg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top;
	padding: 0.5rem;
	width: 95%;
	max-width: 250px;
	height: 70px;
	border-radius: 0.3rem;
	transition: 0.3s ease-in-out;
	color: var(--colortexto);
	box-shadow: inset 0px -5px 5px rgba(0, 0, 0, 0.418);
}

.Li:hover {
	background-image: none;
	background-color: #eee;
	color: #eee;
	box-shadow: none;
}
.Li:hover .Imagen {
	position: absolute;
	left: 40%;
	z-index: 2;
}
.Imagen {
	left: 0%;
	width: 50px;
	height: auto;
	transition: 0.5s ease-in-out;
	view-timeline-name: --revealing-card;
	view-timeline-axis: block;
	animation-name: showIngredient;
	animation-timing-function: ease;
	animation-fill-mode: both;
	animation-timeline: --revealing-card;
	animation-range: entry 30% cover 55%;
}

.nombreEspañol {
	text-align: center;
	font-weight: bold;
}
.nombreIngles {
	display: none;
}
@keyframes showIngredient {
	from {
		opacity: 0;
		transform: scale(0) translateX(-100px);
	}
	to {
		opacity: 1;
		transform: scale(1) translateX(0);
	}
}
