.Li {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	transition: all 0.5s ease-in-out;
	background-image: url('../../assets/backgroundIngrediente.svg');
	background-size: cover;
	background-repeat: no-repeat;
	padding: 1rem 0.5rem;
	border-radius: 0.3rem;
	color: var(--colortexto);
	box-shadow: inset 0px -5px 5px rgba(0, 0, 0, 0.418);
}
.Li:hover {
	background-color: transparent;
	color: #eee;
	box-shadow: none;
}
.Li:hover .Imagen {
	transform: scale(1.1) rotateZ(-15deg);
	z-index: 2;
}

.Imagen {
	width: 130px;
	height: 150px;
	transition: 0.5s ease-in-out;
}
.nombreEspañol {
	position: absolute;
	top: 0;
	text-align: center;
	font-weight: bold;
}
.nombreIngles {
	display: none;
}
