.ulingrediente {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	gap: 0.5rem;
	max-width: 900px;
	width: 90%;
	height: 300px;
	overflow: auto;
	margin: auto;
	padding: 0.5rem;
	background-color: var(--fondo);
	border-radius: 0.5rem;
}
