:root {
	--bgColor1: #643843;
	--bgColor2: #99627a;
	--fontColor1: #c88ea7;
	--fontColor2: #e7cbcb;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	text-align: center;
	text-transform: capitalize;
	cursor: default;
}
button,
a font {
	cursor: pointer;
}
body,
html,
#root {
	scroll-behavior: smooth;
	overflow: auto;
	overflow-x: hidden;
	font-family: Cascadia Code, sans-serif;
	color: #e6dcdc;
	min-height: 100vh;
	min-width: 100vw;
}
::-webkit-scrollbar {
	display: none;
}

@font-face {
	font-family: Cascadia Code;
	src: url('./assets/CascadiaFuente.woff2');
}
