:root {
	--colorResaltado1: #d49686;
	--colorResaltado2: #dcbe9c;
	--colortexto: #612f22;
	--color4: #8c8474;
	--fondo: #d4c4ad;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	text-align: center;
	text-transform: capitalize;
	cursor: default;
	letter-spacing: 2px;
	font-weight: 600;
}
button,
a font {
	cursor: pointer;
	color: #eee;
}
button {
	border: none;
	outline: none;
}
body {
	background-color: #612f22;
	color: #eee;
}
body,
html,
#root {
	scroll-behavior: smooth;
	overflow: auto;
	font-family: Cascadia Code, sans-serif;
	min-height: 100vh;
	min-width: 100vw;
}
::-webkit-scrollbar {
	display: none;
}

@font-face {
	font-family: Cascadia Code;
	src: url('./assets/CascadiaFuente.woff2');
}
